* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.robot-eye,
.robot-mouth,
.robot-tooth {
  border: 1px solid black;
}

.robot-ear-left::before,
.robot-ear-left::after,
.robot-ear-right::before,
.robot-ear-right::after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background-color: #FFE4C4;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.robot-ear-left::after,
.robot-ear-right::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.robot-face-shape,
.robot-mouth {
  position: relative;
}

.robot-eye {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  position: absolute;
  width: 15%;
  height: 15%;
  top: 50px;
  border-radius: 50%;
}

.robot-ear {
  position: relative;
  width: 100px;
  height: 90px;
}

.robot-tooth {
  width: 15px;
  height: 25px;
  background: white;
  border-radius: 50% 50% 0 0;
  position: absolute;
}

.robot-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.robot-face-shape {
  position: relative;
  background-image: url(https://picsum.photos/300/300);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  z-index: 100;
  border-radius: 15px;
  border: 1pxx solid white;

}

.robot-eye-left {
  left: 22%;
}

.robot-eye-right {
  right: 22%;
}

.robot-ear-left {
  bottom: 230px;
  left: -40px;
}

.robot-ear-right {
  bottom: 317px;
  right: -240px;
}

.robot-nose {
  position: absolute;
  width: 3.125rem;
  height: 1.5625rem;
  top: 40%;
  left: 42%;
  background: darkred;
  border-radius: 100px / 50px;
  opacity: 50%;
}

.robot-mouth {
  top: 170px;
  left: 48px;
  width: 210px;
  height: 105px;
  background: #FFE4C4;
  border-radius: 100px / 50px;
}

.tooth-one {
  border-top-left-radius: 130px;
  top: 10px;
  left: 25px;
}

.tooth-two {
  border-top-left-radius: 100px;
  top: 3px;
  left: 50px;
}

.tooth-three {
  border-top-right-radius: 15px;
  top: 2px;
  right: 55px;
}

.tooth-four {
  border-top-right-radius: 130px;
  top: 10px;
  right: 25px;
}

.tooth-five {
  top: 0px;
  left: 80px;
}

.tooth-six {
  top: 0px;
  left: 110px;
}

.tooth-seven {
  border-bottom-left-radius: 130px;
  bottom: 10px;
  left: 25px;
}

.tooth-eight {
  border-bottom-left-radius: 100px;
  bottom: 3px;
  left: 50px;
}

.tooth-nine {
  border-top-left-radius: 15px;
  bottom: 2px;
  right: 55px;
  transform: rotate(180deg);
}

.tooth-ten {
  border-bottom-right-radius: 130px;
  bottom: 10px;
  right: 25px;
}

.tooth-eleven {
  bottom: 0px;
  left: 80px;
  transform: rotate(180deg);
}

.tooth-twelve {
  bottom: 0px;
  left: 110px;
  transform: rotate(180deg);
}

.robot-hair-style {
  position: absolute;
  top: -10%;
  border-bottom: 100px solid red;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  width: 300px;

}

.robot-hair-one {
  position: absolute;
  bottom: -60px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}

.robot-hair-two {
  position: absolute;
  bottom: -60px;
  left: 73px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}

.robot-hair-three {
  position: absolute;
  bottom: -60px;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}